/* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(red, green, blue, alpha);
}

body {
    font: 600 20px Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

/* header */
header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    background-image: linear-gradient(to bottom right, #0fd5d5, #0000ff);
}

textarea {
    display: flex;
    align-items: center;
    
    text-align: center;
    font: 200 12px verdana;
    
    border-radius: 5px;

    margin: 10px;
    
    width: 400px;
    max-width: 550px;
}

.textoCaixa {
    margin: 25px;
}

/* body */
#notas-salvas {
    display: flex;
    width: 100vw;

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.nota {
    display: flex;
    flex-direction: column;

    width: 600px;
    height: auto;
    
    justify-content: center;
    align-items: center;

    background-color: #000;

    box-shadow: 10px 10px 10px 0px rgb(173, 173, 173);

    border-radius: 25px;
    margin: 20px;
}

.divEditar {
    display: flex;
    flex-direction: row;

    margin: 20px;

    width: 500px;
    height: 100px;

    justify-content: space-around;
    align-items: center;
}

.divEditarTexto {
    display: flex;

    flex-direction: row;

    margin-bottom: 10px;
}

.divEditarCor {
    display: flex;
    flex-direction: row;
}

button {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;
}

.botoesHeader {
    display: flex;

    border-radius: 25px;

    width: 200px;
    margin-bottom: 5px;

    background-color: #22dc0e;
    color: #fff;
    font: 600 15px verdana;
}

#limpar-notas {
    background-color: #ff0000;
}

.botaoEditar {
    display: flex;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    width: 100px;
    height: 50px;
}

.botaoExcluir {
    display: flex;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    width: 100px;
    height: 50px;
}

input {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}